* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
}

/* section 1*/ 

.header {
  background-color: #FFFFFF;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 5px;
  font-size: 18px;
}

.topbar { 
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.left, .center, .right {
  flex: 1;
}

/* id/en kiri */
.left {
  display: flex;
  align-items: center;
  color: #000066;
  gap: 10px;
  text-decoration: none;
}
.left a:hover {
  color:#CB0E5D;
  text-decoration: none;
}

.divider {
  width: 1px;
  height: 14px;
  background-color: #000066;
}

/*ini buat logo*/
.center {
  display: flex;
  justify-content: center;
}
.center img {
  height: auto;
  justify-content: center;
}

/* item kanan */
.right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

right img {
  width: 20px;
}

/* NAVBAR */
.navbar {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000066;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #000066;
  font-weight: 600;
}

.navbar a:hover {
  color: #CB0E5D;
}

/* PRODUCT DROPDOWN */

.dropdown_product {
    position: relative;
    display: inline-block;
}

/* ===== DROPDOWN MENU ===== */

.dropdown_product_content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(-15%);
    min-width: 150px;
    background: rgba(255,255,255,0.75);
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    z-index: 1000;
}

/* ===== SHOW ON HOVER ===== */

.dropdown_product:hover .dropdown_product_content { 
    display: block;
}

/* ===== DROPDOWN PRODUCT ITEMS ===== */

.dropdown_product_content a {
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    color: #000066;
    font-weight: 700;
    font-size: 18px;

    transition: 0.3s;
}
/* ===== HOVER PRODUCT ===== */

.dropdown_product_content a:hover {
    background-color: #CB0E5D;
    color: white;

}

/* SERIES DROPDOWN*/

.dropdown_series {
    position: relative;
    display: inline-block;
}


/*body*/
h1 {
    color: #000066; 
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

p {
    color:#000066;
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    padding: 15px 40px;
    background-color:#CB0E5D;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #000066;
}
